extends ./layout
block content 
  h1 OpenBook
  div(class="container")
    div(class="row")
      div(class="col-sm bookshop-container text-center", id="Gaystheword")
        div(class='bookshop-name') #{bookshops[0].name}
        a(class='website-link', href="#{bookshops[0].website}") Visit Website
        p(class='bookshop-address')
          each item in bookshops[0].address
            | #{item}
            br
        div(class='opening-hours') Opening hours
        div(class='times') Monday - Saturday: 11am - 6pm
          br
          | Sunday: 1pm - 6pm
        img(src="/images/gays_the_word_map.png", width='50px')
        div(class='tags') #LGBT
      
      div(class="col-sm bookshop-container text-center", id="Roundtablebooks")
        div(class='bookshop-name') #{bookshops[1].name}
        a(class='website-link', href="#{bookshops[1].website}") Visit Website
        p(class='bookshop-address')
           each item in bookshops[1].address
            | #{item}
            br
        div(class='opening-hours') Opening hours
        div(class='times') Sunday - Friday: 11am - 5:30pm
          br
          | Saturday: 9:30am - 5:30pm
        img(src="/images/round_table_books_map.png", width='50px')
        div(class='tags') #Children #Black

