//column mixin
mixin column(i)
  div(class="col-sm bookshop-container text-center", id="#{bookshopIds[i]}")
    div.row.title-row
        a(class='bookshop-name', href="#{bookshops[i].website}")  #{bookshops[i].name}
      div.row
        p(class='bookshop-address')
          each item in bookshops[i].address
            | #{item}
            br
      div.row
        div(class='opening-hours') Opening hours
        div(class='times')
          each item in bookshops[i].openingHours
            | #{item}
            br
        block
        