extends ./layout
block content 
  h1(class="title") Search
  - console.log(bookshops)
  div(class="container")
    div(class="row")
      div(class="col-sm bookshop-container text-center", id="Gaystheword")
        div(class='bookshop-name') #{bookshops[0].name}
        a(class='website-link', href="#{bookshops[0].website}") Visit Website
        p(class='bookshop-address')
          each item in bookshops[0].address
            | #{item}
            br
        div(class='opening-hours') Opening hours
        div(class='times')
          each item in bookshops[0].openingHours
            | #{item}
            br
        img(src="/images/gays_the_word_map.png", width='280px')
        div(class='tags') 
          each tag in bookshops[0].tags
            | ##{tag} 